<div id="{{id}}-fullname" class="controls-row">
	<input id="{{id}}_fullname_first_name" name="{{id}}_fullname_first_name" type="text" class="span{{#if options.middlename}}4{{else}}6{{/if}} tolowercase toucwords" placeholder="First Name">
	{{#if options.middlename}}
	<input id="{{id}}_fullname_middle_name" name="{{id}}_fullname_middle_name" type="text" class="span3 tolowercase toucwords" placeholder="Middle Initial">
	{{/if}}
	<input id="{{id}}_fullname_last_name" name="{{id}}_fullname_last_name" type="text" class="span{{#if options.middlename}}5{{else}}6{{/if}} tolowercase toucwords" placeholder="Last Name">
</div>